---
layout: simplepage
title: LTS 变更日志
---

= partial('changelog-header.html')

%div{:style => 'margin: 10px; padding: 10px; background-color: #FFFFCE;'}
  请参阅
  %a{:href => '/doc/upgrade-guide/'}
    LTS 升级指南
  获取有关升级 Jenkins 的建议。

.ratings
  - # source: https://github.com/jenkins-infra/jenkins.io/blob/master/content/_data/changelogs/lts.yml
  - site.changelogs[:lts].reverse_each do | release |
    - if Gem::Version.new(release.version) <= Gem::Version.new(site.jenkins.stable)
      %h3{:id => "v#{release.version}" }
        = "#{release.version} (#{release.date}) 中有什么新内容"
      - if release.banner
        %div{:style => 'margin: 10px; padding: 10px; background-color: #FFFFCE;'}
          = release.banner
      -if release.changes and release.lts_changes and release.lts_baseline
        %div
          %strong
            -# TODO figure out how to get rid of this
            = "自 #{release.lts_baseline} 以来的变更："
      %ul.image
        = partial('changelog-changes.html.haml', :changes => release.changes)
      -if release.changes and release.lts_changes
        %div
          %strong
            = "自 #{release.lts_predecessor} 以来的重大变更:"
        %ul.image
          = partial('changelog-changes.html.haml', :changes => release.lts_changes)
  = partial('changelog-stable.html')
