---
layout: default
title: Jenkins 特别兴趣小组
---

.container
  .row.body
    .col-lg-9
      %h1
        Jenkins 特别兴趣小组
      %p
        当前页面列出了活跃的 Jenkins 特别兴趣小组（SIGs）。
        查看
        %a{:href => "https://github.com/jenkinsci/jep/tree/master/jep/4", :target => "_blank"}
          JEP-4
        可以了解到更多有关 SiGs 以及发起一个新小组的流程。

      - sigs = site.pages.select { |p| p.source_path =~ /\/content\/sigs\/[^\/]+\/index.adoc/ }
      - sigs.each do |item|
        %h1
          = item.title
        - if item.logo
          %img{:title => "Logo", :src => expand_link(item.logo), :style => "float:right", :width => "96"}
            = item.overview
        %ul
          - if item.links.googlegroup
            %li
              %a{:href => "https://groups.google.com/forum/#!forum/#{item.links.googlegroup}", :target => "_blank"}
                邮件列表
          - if item.links.gitter
            %li
              %a{:href => "https://gitter.im/#{item.links.gitter}?utm_source=share-link&utm_medium=link&utm_campaign=share-link", :target => "_blank"}
                %img{:title => "Gitter", :src => "https://badges.gitter.im/#{item.links.gitter}.svg"}
        %p
          %a{:href => "/zh/#{item.url}"}
            %strong
              了解详情
    .col-lg-3
      .sidebar-nav
