---
layout: default
title: "活动日历"
# no such section (yet)
section: events
notitle: true
---

/ Some more spacing from the navbar
.pt-4
  &nbsp;

.container
  .row
    %h1
      活动日历

  .row
    .col
      #calendar-container
        -# This div's innerHTML will be overwritten with the
        -# calendar iframe set to the appropriate time zone.

      %p
        在下面的时区下查看日历：
        %select#selected_timezone{:onChange => "set_calendar(this.value)"}
          %option{:value => ''}= '(自动)'
          %option{:value => 'GMT'}= '格林威治时间'
          %option{:value => 'CET'}= '欧洲中部'
          %option{:value => 'America/New_York'}= '美国东部'
          %option{:value => 'America/Los_Angeles'}= '美国太平洋'
          %option{:value => 'Asia/Tokyo'}= '东京'
          %option{:value => 'Asia/Shanghai'}= '上海'

      -# Text at one time kept on the wiki
      -# https://wiki.jenkins.io/display/JENKINS/Jenkins+Event+Calendar

      %h3
        关于该日历
      %p
        该页面跟踪与 Jenkins 相关即将到来的活动。

      %h3
        修改

      %p
        需要修改的话，请
        %a{:href => expand_link('mailing-lists/')}
        给我们发邮件
        ，说明活动以便我们可以添加。
        如果您希望添加很多活动，我们也很乐意给您直接编辑的权限。

-# JSTZ time zone detection library (https://bitbucket.org/pellepim/jstimezonedetect)
%script{:type => "text/javascript",
        :src => "https://cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.6/jstz.min.js" }


%script{type: "text/javascript"}
  :plain
    var deviceTimeZone = jstz.determine().name();
    var calendarSrc = 'https://calendar.google.com/calendar/b/1/embed'
      + '?showCalendars=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF'
      + '&amp;src=4ss12f0mqr3tbp1t2fe369slf4%40group.calendar.google.com&amp;color=%2329527A'
      + '&amp;ctz='

    var calendarSrcPrefix = '<iframe src="' + calendarSrc;
    var calendarSrcSuffix = '" style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no"></iframe>';

    function set_calendar(timezone) {
      timezone = timezone || deviceTimeZone;
      var iframe_html = calendarSrcPrefix + encodeURIComponent(timezone) + calendarSrcSuffix;
      document.getElementById('calendar-container').innerHTML = iframe_html;
    };

    $(document).ready( function() {
      set_calendar();
    } );
