---
layout: documentation
title: "Jenkins LTS 升级指导"
---

- grouped = site.versions_grouped

- if page.version
  - minor_versions = grouped[page.version]
  - position = grouped.keys.index(page.version.to_s)
  - if position == grouped.size - 1
    - prev = "1.651.3"
  - else
    - prev = grouped[grouped.keys[position + 1]][0].to_s.tr_s("-",".")
  - page.title = "升级到 Jenkins LTS #{page.version}.x"
  %p
    每个章节都覆盖了自上一个 LTS 发行版的升级, 
    版本 #{minor_versions[-1].to_s.tr_s("-",".")} 的章节覆盖了自 #{prev} 以来的升级。

  - minor_versions.each do |minor|
    %h3{:id => "upgrading-to-jenkins-lts-#{minor}"}
      升级到 Jenkins #{minor.to_s.tr_s("-",".")}
    = site.upgrades[minor].content

- else
  %p
    本章节为管理员重点介绍升级 Jenkins LTS 时需要注意的重要变更。
    每个章节都覆盖了自上一个 LTS 发行版的升级，在版本为 x.y.1 的章节中包括了从上一个 LTS 线的升级。
    如果你在升级过程中跳过了一些 LTS 版本，建议阅读之间所有版本。
  %ul
    - grouped.each do |major, minor_versions|
      %li
        %a{:href => "/zh/doc/upgrade-guide/#{major}"}
          升级到 Jenkins #{major}.x
        %ul
          - minor_versions.each do |minor|
            %li
              %a{:href => "/zh/doc/upgrade-guide/#{major}#upgrading-to-jenkins-lts-#{minor}"} 
                升级到 Jenkins #{minor.to_s.tr_s("-",".")}
