---
layout: default
---

:css
  ol li i.icon-warning::before {
    content: "\f071";
    color: #bf6900;
    font-family: FontAwesome !important;
    font-size: 10px;
    vertical-align: middle;
  }

:javascript
  $(function () {
    for (var i = 1 ; i <= 6 ; i ++) {
      anchors.add('.container .row.body h' + i);
    }
  })

.container
  .row.body

    .col-lg-3

      .sidebar-nav.tour

        %h4
          = t('.topics')
        %ol
          - site.devbook.chapters.each do |chapter|
            %li
              = active_href(File.join('doc/developer', chapter.key), chapter.title, :fuzzy => true)
              - if chapter.page.wip
                - if !chapter.page.references || chapter.page.references.length == 0
                  %i.icon-warning{:title => '早期工作，还在进行中'}
                    = t('.nbsp')
                - else
                  %i.icon-warning{:title => '部分工作还在进行中', :style => 'opacity: 0.5;'}
                    = t('.nbsp')

        %h4
          = active_href('doc/developer/guides', '操作指南', :fuzzy => true)

        %h4
          = t('.resources')

        %h5
          = active_href('doc/developer/extensions', '扩展索引', :fuzzy => true)

        %h5
          = active_href('doc/developer/javadoc', 'Javadoc', :fuzzy => true)

        %h5
          = t('.taglibs')

        %ul
          %li
            %a{:href => 'http://reports.jenkins.io/reports/core-taglib/jelly-taglib-ref.html', :target => '_blank'}
              = t('.core')
          %li
            %a{:href => 'http://stapler.kohsuke.org/jelly-taglib-ref.html', :target => '_blank'}
              = t('.stapler')
          %li
            %a{:href => 'https://commons.apache.org/proper/commons-jelly/tags.html', :target => '_blank'}
              = t('.jelly_core')

        %h5
          = t('.tools')

        %ul
          %li
            %a{:href => 'https://jenkinsci.github.io/maven-hpi-plugin/', :target => '_blank'}
              = t('.maven_hpi_plugin')

    .col-lg-9
      - unless page.notitle
        %h1
          = page.title
      - if page.wip
        = partial( 'wip.adoc' )

      = content

      - if page.references && page.references.size > 0
        %h2
          = t('.references')

        %ul
          - page.references.each do |reference|
            %li
              %a{:href => reference.url}<>
                = reference.title
              - if reference.description
                \:
                = reference.description
